build
run
plots
.vscode
.deps

# E2E test results
testruns

# Helm Charts
charts/

# Prevent copying scripts that are unused in docker
scripts/
!scripts/test.sh
!scripts/activate-venv.sh
!scripts/install-build-tools.sh
!scripts/setup-dependencies.sh
!scripts/test-transaction.sh
!scripts/wait-for-it.sh

# Improves caching significantly
.git
.github
