2pc=1
minter_count=1
minter0="1f05f6173c4f7bef58f7e912c4cb1389097a38f1a9e24c3674d67a0f142af244"
sentinel_count=1
sentinel0_endpoint="127.0.0.1:5557"
sentinel0_loglevel="WARN"
shard_count=1
shard0_count=1
shard0_loglevel="INFO"
shard0_0_endpoint="127.0.0.1:8888"
shard0_0_raft_endpoint="127.0.0.1:8889"
shard0_0_readonly_endpoint="127.0.0.1:8989"
coordinator_count=1
coordinator0_count=1
coordinator0_loglevel="INFO"
coordinator0_0_endpoint="127.0.0.1:8888"
coordinator0_0_raft_endpoint="127.0.0.1:8889"
coordinator_max_threads=100
