2pc=1
sentinel_count=1
shard_count=1
coordinator_count=1
coordinator_max_threads=1
election_timeout_upper=4000
election_timeout_lower=3000
heartbeat=1000
raft_max_batch=100000
snapshot_distance=1000000000
batch_size=1
wait_for_followers=0
loadgen_invalid_tx_rate=0.00
loadgen_fixed_tx_rate=0.01
loadgen_sendtx_output_count=1
loadgen_sendtx_input_count=1
initial_mint_count=20000
initial_mint_value=100
tmpl_randomize_values=1
tmpl_shard_start=0
tmpl_shard_size=255
tmpl_max_shard_raft_replication_count=1
tmpl_avg_shard_start_end_overlap_percent=0.15
tmpl_max_coordinator_raft_replication_count=1
tmpl_default_log_level="INFO"
tmpl_universal_override_log_level="WARN"
tmpl_sentinel_log_level="WARN"
tmpl_coordinator_log_level="DEBUG"
tmpl_shard_log_level="DEBUG"
num_wallets=10
num_minters=1
num_redeemers=1
total_number_of_transactions=100
avg_mint_value=10
avg_mint_count=10
avg_redemption_value=5
avg_redemption_count=5
transaction_frequency=5
mint_frequency=0.1
redemption_frequency=0.05
sentinel_offline_probability=0.01
shard_offline_probability=0.01
coordinator_offline_probability=0.01
randomize_execution=0
